.list_info {
    max-width: 40rem;
    width: 100%;

    span {
        padding: 6px 16px;
        border-radius: 8px;
        border: 1px solid $purple-01;
        color: $purple-01;
       font-size: $big-small;
    }

    h2 {
        font-size: $larg;
        color: $black-02;
        margin-top: 1.7rem;
        margin-bottom: 1.7rem;
    }

    p {
        max-width: 37rem;
        width: 100%;
        font-size: $medium;
        color: $gray-04;
    }
}