.button-gray {
    padding: 5px 14px;
    border-radius: 8px;
    border: 1px solid $gray-02;
    font-size: 14px;
    background-color: $gray-01;
    color: $black-03;

    &:hover {
        background-color: $gray-02;
        scale: 1.1;
    }
}

.button-purple {
    padding: 5px 14px;
    border-radius: 8px;
    background: $background-btn-purple;
    border: 1px solid hsla(0, 0%, 100%, .2);
    font-size: 14px;
    color: $white-primary;

    &:hover {
        background-color: $gray-02;
        scale: 1.1;
        background: linear-gradient(135deg, #3b00a2, #884fe9 29.95%, #2b0075 60.11%, #833bff);
    }
}