.card_title-check {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.card_check {
    display: flex;
    align-items: center;
    padding: 4px 6px;
    gap: 4px;
    border-radius: 4px;
    border: 1px solid $gray-03;
    color: $gray-04;
    font-size: 13px;
}