* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: $white-primary;

    *::-webkit-scrollbar {
        display: none;
    }
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}


.container {
    max-width: $max-width-content;
    width: $width;
    margin: 0 auto;
}

@media (max-width: 810px) {
    .container {
        max-width: $max-width;
        padding: 10px;
    }
}