.section_two {
    margin-bottom: 10rem;
}

.section_two-card-users-people {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-bottom: 15rem;

    p {
        color: $gray-04;

        span {
            color: $purple-01;
        }
    }

    img {
        max-width: 22rem;
        width: 100%;
        height: 100%;
    }
}

.section_two-container-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
    gap: 1rem;
}

.section_two-box-info {
    max-width: 40rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;

    h2 {
        font-size: $larg;
        color: $black-02;
    }

    p {
        color: $gray-04;
        max-width: 30rem;
    }
}

.section_two-card-img-info {
    max-width: 35rem;
    width: 100%;

    img {
        width: 100%;
        height: 100%;
    }
}

.section_two-info-person {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;

    img {
        max-width: 70rem;
        width: 100%;
        height: 100%;
    }
}

@media (max-width: 810px) {
    .section_two {
        margin-bottom: 3rem;
    }

    .section_two-card-users-people {
        margin-bottom: 5rem;
    }

    .section_two-container-info {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 5rem;
        gap: 3rem;
    }

    .section_two-box-info p {
        max-width: 100%;
    }
}